/caches/
/backups/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/known_hosts
/private/
/private-source/

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

# ignore those atom session files
/link/.atom/
/link/.atom/storage/*
/link/.atom/compile-cache*

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
