"*":
  "atom-css-comb":
    projectConfigs: ".csscomb.json"
    readyMadeConfigs: "csscomb"
  "atom-lint":
    showViolationMetadata: false
  core:
    audioBeep: false
    disabledPackages: [
      "erlang-build"
      "language-erlang"
      "linter-rust"
      "racer"
      "atom-beautify"
      "atom-css-comb"
      "color-picker"
      "command-logger"
      "editor-stats"
      "gist-it"
      "git-projects"
      "nuclide-flow"
      "term3"
      "react"
      "activate-power-mode"
      "language-terraform"
      "linter-pylint"
      "jshint"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Monaco"
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "246c1809-c844-0aa7-984c-877b58c960f7"
  jshint:
    onlyConfig: true
    validateOnlyOnSave: true
  linter:
    showErrorPanel: false
  "linter-pylint":
    messageFormat: "%i %m %s"
  "linter-rust": {}
  metrics:
    userId: "b0a52562eb75387fb7e311a58bc9ad73ed912482"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  racer:
    racerBinPath: "/Users/lonnen/workspace/racer/target/release"
    rustSrcPath: "/Users/lonnen/repos/rust"
  react: {}
  "release-notes":
    viewedVersion: "0.94.0"
  "tree-view": {}
  welcome:
    showOnStartup: false
